.appIconGrid{
	width:100%;
}

.appIconGrid td{
	margin:55px;
	text-align:center;
	vertical-align:top;
}

.appIconGrid a{
	target-new:tab;
}

.appIconGrid img{
	margin:auto;
	display:block;
	height:35px;
}

.appIconGrid div{
	background-color:rgba(255,255,255,.5);
	padding:15px;
	margin:15px;
	text-align:center;
	display:inline-block;
	max-width:350px;
}

.appIconGrid span{
	display:none;
	margin:10px;
}

.no img{
    opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}

.os {
	margin-bottom:20px!important;
	display:block;
	height:45px!important;
}