#groups {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    text-align: center;
    font-family: "lato";
    font-weight: 300;
    font-size: 16px;
}

#groups a {
    margin: 20px;
    color: #333333;
}

#tiles {
    min-height: 93vh;
    display: block;
}

#apps {
    display: block;
    height: 560px;
}

.beta {
    font-size: 12px;
    vertical-align: super;
    padding-left: 10px;
    color: #888888;
}

.grid {
    padding: 20px 20px 20px 20px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid li {
    display: inline-block;
    margin: 0;
    padding: 10px;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure div {
    height: 150px;
    width: 200px;
    background-color: rgba(255, 255, 255, .5);
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
    padding: 50px;
    padding-top: 25px;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: #1f1f1f;
    color: #dddddd;
}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.grid figcaption span:before {
    content: '';
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #ffffff;
}


/* Individual Caption Styles */


/* Caption Style 3 */

.cs-style-3 figure {
    overflow: hidden;
}

.cs-style-3 figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px);
}

.cs-style-3 figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 100px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}